{% extends 'base-template.html' %}

{% block title %} Cadastro de Clientes {% endblock %}

{% if loggedin %} 

{% block breadcrumb %}	

    {% if breadcrumb %}
    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#">
                <em class="fa fa-home"></em>
            </a></li>
            <li class="active">{{breadcrumb}}</li>
        </ol>
    </div><!--/.row-->
    {% endif %} <!--/endif breadcrumb-->
    {% endblock %}

{% block page_header %}

    {% if page_header %}
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">{{page_header}}</h3>
        </div>
    </div><!--/.row-->
    {% endif %} <!--/endif page_header-->
{% endblock %}

{% block content %}
    <h5>Vamos cadastrar alguns clientes!</h5>
    <div class="col">
        <form action="{{ url_for('cadastrar_cliente') }}" method="post">
            <div class="form-group">
                <label>Nome</label>
                <input type="text" class="form-control" name="nomeCliente" id="nomeCliente" placeholder="Nome do Cliente" required>
            </div>
            <div class="form-group">
                <label>CPF</label>
                <input type="text" class="form-control" name="cpfCliente" id="cpfCliente" placeholder="CPF do Cliente" required>
            </div>
            <div class="form-group">
                <label>Celular</label>
                <input type="text" class="form-control" name="celularCliente" id="celularCliente" placeholder="Celular do Cliente" required>
            </div>
            <div class="form-group">
                <label>E-mail</label>
                <input type="text" class="form-control" name="emailCliente" id="emailCliente" placeholder="Email do Cliente" required>
            </div>
            <button type="submit"  class="btn btn-success">Salvar</button>
        </form>

        <br>

        {% if msg %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>{{ msg }}</strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endif %}

    </div>
{% endblock %}

{% endif %}





