{% extends 'base-template.html' %}

{% block title %} Dashboard {% endblock %}

{% block content %}

	{% if breadcrumb %}
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#">
                <em class="fa fa-home"></em>
            </a></li>
            <li class="active">{{breadcrumb}}</li>
        </ol>
    </div><!--/.row-->
	{% endif %} <!--/endif breadcrumb-->

	{% if page_header %}
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">{{page_header}}</h1>
		</div>
	</div><!--/.row-->
	{% endif %} <!--/endif page_header-->

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">Painel Heading</div>
                <div class="panel-body">
                    <div class="col-md-12">
                        <h5>Small</h5>
                        <button type="button" class="btn btn-sm btn-primary">Primary</button>
                        <button type="button" class="btn btn-sm btn-default">Default</button>
                        <button type="button" class="btn btn-sm btn-success">Success</button>
                        <button type="button" class="btn btn-sm btn-info">Info</button>
                        <button type="button" class="btn btn-sm btn-warning">Warning</button>
                        <button type="button" class="btn btn-sm btn-danger">Danger</button>
                        <button type="button" class="btn btn-sm btn-link">Link</button>
                        <br />
                        <br />
                        <h5>Medium</h5>
                        <button type="button" class="btn btn-md btn-primary">Primary</button>
                        <button type="button" class="btn btn-md btn-default">Default</button>
                        <button type="button" class="btn btn-md btn-success">Success</button>
                        <button type="button" class="btn btn-md btn-info">Info</button>
                        <button type="button" class="btn btn-md btn-warning">Warning</button>
                        <button type="button" class="btn btn-md btn-danger">Danger</button>
                        <button type="button" class="btn btn-md btn-link">Link</button>
                        <br />
                        <br />
                        <h5>Large</h5>
                        <button type="button" class="btn btn-lg btn-primary">Primary</button>
                        <button type="button" class="btn btn-lg btn-default">Default</button>
                        <button type="button" class="btn btn-lg btn-success">Success</button>
                        <button type="button" class="btn btn-lg btn-info">Info</button>
                        <button type="button" class="btn btn-lg btn-warning">Warning</button>
                        <button type="button" class="btn btn-lg btn-danger">Danger</button>
                        <button type="button" class="btn btn-lg btn-link">Link</button>
                        <br />
                        <br />
                    </div>
                </div>
            </div><!-- /.panel-->
        </div>
    </div>

{% endblock %}