{% extends 'base-template.html' %}

{% block title %} Fornecedor {% endblock %}

{% if loggedin %} 

{% block breadcrumb %}	

    {% if breadcrumb %}
    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#">
                <em class="fa fa-home"></em>
            </a></li>
            <li class="active">{{breadcrumb}}</li>
        </ol>
    </div><!--/.row-->
    {% endif %} <!--/endif breadcrumb-->
    {% endblock %}

{% block page_header %}

    {% if page_header %}
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">{{page_header}}</h3>
        </div>
    </div><!--/.row-->
    {% endif %} <!--/endif page_header-->
{% endblock %}

{% block content %}
    <h5>O que deseja fazer?</h5>
    <form action="{{ url_for('redirecionar') }}">
    <button type="submit" class="btn btn-lg btn-primary">Cadastro</button>
    <button type="submit" class="btn btn-lg btn-primary">Consulta</button>
    <button type="submit" class="btn btn-lg btn-primary">Alteração</button>
    </form>
{% endblock %}

{% endif %}





